@import "./utils/variables";
@import "./base/base";
@import "./components/about";
@import "./components/clients";
@import "./components/description";
@import "./components/footer";
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/portfolio";
@import "./components/team";
@import "./components/menu"
