.header {
  border-bottom: 1px solid #ececec;

  &__container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (min-width:768px) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @media screen and (min-width:1200px) {
      width: 1200px;
      
    }
  }
}

.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
   margin-right: 93px;
  }


  &__accent {
    color: $accent-color;

    &--inverse {
      color: $primary-white-text-color;
    }
  }

  
}

.site-nav {
display: none;

@media screen and (min-width: 768px) {
  display: flex;
  
}

  &__list {
    display: flex;
    padding-left: 0px;
  }

  &__link {
    color: $title-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--active {
      color: $accent-color;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: $accent-color;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 2px;
      }

     
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts {
  display: none;

@media screen and (min-width: 768px) {
  display: block;
  
}

@media screen and (min-width: 1200px) {
  display: flex;
  padding-left: 0px;
  margin-left: auto; 
}

 

  &__link {
    color: $primary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) and (max-width:1199px) {
      font-size: 12px;
      line-height: 1.17;
    }

    &:hover,
    &:focus {
      color: $accent-color;

    

      .contacts__icon {
        fill: currentColor;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 5px 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__icon {
    fill: $primary-text-color;
    margin-right: 12px;
  }
}
