.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .modal {
      transform: translate(-50%, -50%) scale(0.8);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modal {
  width: 450px;
  height: 609px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


  @media screen and (min-width:1200px) {
    width: 528px;
  height: 581px;
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-white-text-color;
  }

  &__close-icon {
    position: absolute;

    top: 15px;
    right: -4px;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-top: 40px;

    color: #212121;
  }

  &__form {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 12px;
  }

  &__form-input {
    margin-top: 4px;
    width: 370px;
    height: 40px;
    padding: 0;
    padding-left: 42px;

    display: block;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
      width: 448px;
    }
    &:focus,
    &:hover {
      border-color: $accent-color;
    }
  }

  &__form-label {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:focus-within {
      & > .modal__form-icon {
        fill: $accent-color;
      }
    }
  }

  &__form-subtitle {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $primary-text-color;
    display: block;
  }

  &__form-icon {
    position: absolute;
    top: 30px;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form-coment {
    resize: none;

    margin-top: 4px;
    width: 370px;
    height: 120px;
    padding: 12px 16px;

    display: block;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
      width: 448px;
    }
    &:focus,
    &:hover {
      border-color: $accent-color;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__policy-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked {
      & + .modal__checkbox-icon {
        background-color: $accent-color;
        background-image: url(../images/check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: $accent-color;
      }
    }
  }

  &__form-policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-left: 10px;
    display: inline-block;
  }

  &__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__policy-link {
    color: $accent-color;
  }
  &__button-send {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
